@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --main-color: #21295c;
  --text-color: #;
  --second-color: #6b6054;
  --shadow: #000;
  --a-color: #1c7293;
  --clr-grey: hsl(210, 22%, 49%);
  --background: #eff1ed;
  --secondary-background: #d6dbd0;
  --white: #fff;
  --spacing: 0.25rem;
  --transition: all 0.3s linear;
  --ff-primary: 'Playfair Display', serif;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
  /* visibility: hidden; */
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-links {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  list-style: none;
}

.nav-link {
  display: block;
  position: relative;
  margin: 10px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: all 3s ease-in-out;
  color: var(--a-color);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.nav-link::after {
  height: 1px;
  width: 100%;
  background: var(--a-color);
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.show-links {
  height: 5px;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-links {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  .nav-link:hover {
    color: var(--main-color);
    background: transparent;
  }
}

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
    url('../Images/background_index.jpeg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  text-align: center;
  color: var(--white);
  padding: 0 3rem;
}

.contact {
  background: var(--background);
  font-family: var(--ff-primary);
  min-height: 81vh;
}

.contact-form,
.contact-info {
  margin: 1rem 0;
  position: relative;
  top: 50px;
}

.contact-item {
  margin-bottom: 1.75rem;
}

.contact-title {
  color: var(--a-color);
  font-weight: 400;
  text-transform: uppercase;
}

.contact-text {
  text-transform: lowercase;
}

.contact-form {
  background: var(--a-color);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 35rem;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--white);
  text-transform: uppercase;
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--background);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--second-color);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

.submit-btn {
  display: block;
  width: 100%;
  border: none;
  background: var(--background);
  color: var(--a-color);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.7rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}

.footer {
  background: #222;
  text-align: center;
  min-width: 50vw;
}

.social-icon {
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 1rem;
}

.facebook {
  transition: all 0.3s ease-in-out;
}
.twitter {
  transition: all 0.3s ease-in-out;
}
.instagram {
  transition: all 0.3s ease-in-out;
}

.facebook:hover {
  color: #4267b2;
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #c13584;
}
